

.cointaner {
    width: 1344px;
    padding: 0 16px;
    margin: 0 auto;
}

.header-list {
    display: flex;
    gap: 32px;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.header-wrap {
    display: flex;
    gap: 32px;
}

.hero {
    padding: 64px 0;
}

.hero-wrap {
    width: 423px;
}

.hero-list {
    display: flex;
    gap: 16px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
    