:root {
    --color-title: #0C0708;
    --color-button: #FFB780;
    --color-bg: #FAF6F3;
}

body {
    background-color: var(--color-bg);
    font-family: Tajawal;
    font-weight: 400;
    color: var(--color-title);
    font-size: 16px;
    line-height: 1.5;
}

.cointaner {
    width: 1344px;
    padding: 0 16px;
    margin: 0 auto;
    outline: solid;
}

.header-logo {
    padding: 7px 0; 
}

.header-list {
    display: flex;
    gap: 32px;
    align-items: center;
    height: 78px;
}

.header-link {
    color: var(--color-title);
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    padding: 15px 0;
}

.header-link:hover {
    color: red;
}

.header-button {
    padding: 8px 20px;
    border-radius: 16px;
    border: none;
    background-color:var(--color-button);
    height: 40px;
    font-weight: 500;
}

.header-button:hover,
.header-button:focus {
    background-color: var(--color-bg);
    outline: 1px solid #0c070826;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.header-wrap {
    display: flex;
    gap: 32px;
    align-items: center;
}

.hero {
    padding: 64px 0;
}

.hero-wrap {
    width: 423px;
}

.hero-list {
    display: flex;
    gap: 16px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content-title {
    font-family: Caveat;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    width: 450px;
    letter-spacing: -0.4px;
    margin: 0 0 32px;
}

.content-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.4px;
  margin-bottom: 16px;
}

.content {
    padding: 112px 0;

}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.content-wrap {
    width: 616px;
}

.content-item::before {
    content: "";
    display: inline-block;
    background-image: url("../img/icon.png");
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.content-item:nth-child(2)::before {
    background-image: url("../img/icon_sun.png") ;
}

.content-item:nth-child(3)::before {
    background-image: url("../img/icon_leaf.png");
}

.content-item {
    display: flex;
    align-items: center;
    gap: 24px;
}

.artistic-title {
    font-family: Caveat;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.48px;
    text-align: center;
    color: var(--color-title);
}

.artistic-text {
    color: var(--color-title);
    text-align: center;
    font-family: Tajawal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 80px;
}

.artistic-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

/* .artistic-list:nth-child(n+3) {
    display: flex;
    width: 346px;
    height: 304px;
}

.artistics-item {
    width: 416px;
    height: 416px;
    outline: solid red;
} */
