:root {
    --color-title: #0C0708;
}

body {
    background-color: #FAF6F3;
    font-family: Tajawal;
    font-weight: 400;
}

.cointaner {
    width: 1344px;
    padding: 0 16px;
    margin: 0 auto;
}

.header-list {
    display: flex;
    gap: 32px;

}

.header-link {
    color: var(--color-title);
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}
.wrap {
    display: flex;
    justify-content: space-between;
}

.header-wrap {
    display: flex;
    gap: 32px;
}

.hero {
    padding: 64px 0;
}

.hero-wrap {
    width: 423px;
}

.hero-list {
    display: flex;
    gap: 16px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content {
    padding: 112px 0;

}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-wrap {
    width: 616px;
}

.content-item::before {
    content: "";
    display: inline-block;
    background-image: url("../img/icon.png");
    width: 40px;
    height: 40px;
}

.content-item {
    display: flex;
    align-items: center;
    gap: 40px;
}

.artistic-title {
    font-family: Caveat;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.48px;
    text-align: center;
    color: var(--color-title);
}

.artistic-text {
    color: var(--color-title);
    text-align: center;
    font-family: Tajawal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 80px;
}

.artistic-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

/* .artistic-list:nth-child(n+3) {
    display: flex;
    width: 346px;
    height: 304px;
}

.artistics-item {
    width: 416px;
    height: 416px;
    outline: solid red;
} */

