ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cointaner {
    width: 944px;
    padding: 0 16px;
    margin: 0 auto;
}

.header-list {
    display: flex;
    gap: 32px;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.header-wrap {
    display: flex;
    gap: 32px;
}
    